/* Profile Component Styles */
h1 {
  font-size: 20px;
  margin: 0 !important;
  font-family: sans-serif ;
  padding: 0 !important;
  color: black !important;
}

 h2 {
  font-size: 20px;
  margin: 0 !important;
  font-family: sans-serif !important;
 }

.profile-container {
  background-color: lightgray;
  padding: 1rem;
  margin-top: 1rem;
}

.profile-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
}

.profile-header p {
  margin: 0;
}

.profile-image {
  background-color: orange;
  width: 180px;
}

.main-item {
  display: flex;
  flex-direction: row;
}

.main-item ul li {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.main-item li {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sub-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  height: 60px;
  border: 1px solid black;
}

.student-description {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.student-details {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
}

.student-details li{
  margin-top: 1rem;
  list-style: none;
}
.messages-container {
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
}