/* Network Page Styles */
.banner {
  position: relative;
  height: 450px;
  background-color: rgb(171, 171, 177);
  display: flex;
  color: black;
  padding: 1rem;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 auto !important;
}

.sub-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: transparent;
}

.s-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: transparent;
  margin: 0 auto;
}

.s-title {
  margin: 0.5rem 0 1rem 0;
}

@media (max-width: 800px){
  .main-grid{ grid-template-columns: 1fr; margin: 1rem; }
  .s-container{ padding: 0 0.5rem; }
}
