
h1 {
  font-size: 30px;
  font-family: sans-serif;
  padding: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    height: 40vh;
    gap: 20px;
}

.item {
  background-color: lightgray;
  padding: 1rem;
}
