/* comment here about the design */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 0.5rem;
  height: 120px;
}

.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  display: block;
  align-items: center;
  font-size: 25px !important;
  font-family: sans-serif;
  font-weight: 800;
}

h4 {
  font-weight: bold;
  font-size: 20px !important;
  padding-left: 1rem;
}

/* gimme a second  */
.user {
  display: flex;
  align-items: center;
  margin: 1rem;
  color: black;
}

.user li {
  list-style: none;
  margin-left: 2rem;
  cursor: pointer;
}

.user li:hover {
  text-decoration: underline;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

.search-input {
  padding: 0.25rem;
  border-radius: 4px;
  border: none;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
}