/* footer.css */
footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  bottom: 0;
  background-color: rgb(4, 4, 48);
  color: white;
}
.footer-title {
  display: block;
  align-items: center;
  font-size: 25px !important;
  font-family: sans-serif;
  font-weight: 800;
  padding-left: 1rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 8px;
  padding-left: 1rem;
}
.footer-links {
  padding-left: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: start;
  text-align: left;
}
.footer-list ul li {
  cursor: pointer;
  list-style: none;
}
.footer-links li {
  cursor: pointer;
  list-style: none;
}
.sub-list {
  padding-left: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}
.footer-container {
  padding-left: 1rem;
  margin-right: 2rem;
}
.sub-footer-container {
  display: flex;
  flex-direction: column;

}
.icons {
  padding-right: 2rem;
}
.s-list {
  display: flex;
  padding-right: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  gap: 10px;
}
.s-icon {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: white;
  color: white;
  color: black;
}
